<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../partials/head.ejs') %>
    <link href="/css/languages/c.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include('./../partials/header.ejs') %>
    </header>

    <h1>C</h1>
    <main>
        <div class="card">
            <h2>Example</h2>
            <textarea readonly>
    #include <stdio.h>
    int main(void)
    {
        printf("Hello World!\n");

        return 0;
    }

    OUTPUT:

        Hello World!   //Output
            </textarea>
        </div>
        <div class="card">
            <h2>Variables</h2>
            <textarea>
    - int - EX:100 - Size: 4 bytes

    - float - EX:5.67 - Size: 4 bytes

    - double - EX:5.678 - Size: 8 bytes

    - char - EX:'A' - Size: 1 byte

    - string - EX:"Hello" - Size: 24 bytes

    - bool - EX:true/false - Size: 1 byte

    - void - EX:void function - Size:0bytes

    - long - EX:1000000 - Size: 8 bytes

    - short - EX:100 - Size: 2 bytes
            </textarea>
        </div>
        <div class="card">
            <h2>Input</h2>
            <textarea> 
    int myNum;

    printf("Please enter a number: \n");

    scanf("%d", &myNum);

    printf("The number you entered:");

    printf("%d",myNum);
            </textarea>
        </div>
        <div class="card">
            <h2>Output</h2>
            <textarea>
    int testInteger = 5;
    printf("Number = %d", testInteger);

    float f = 5.99;
    printf("Value = %f", f);

    short a = 0b1010110;
    int b = 02713; 
    long c = 0X1DAB83;

    printf("a=%ho, b=%o, c=%lo\n", a, b, c);

    printf("a=%hd, b=%d, c=%ld\n", a, b, c);

    printf("a=%hx, b=%x, c=%lx\n", a, b, c);

    printf("a=%hX, b=%X, c=%lX\n", a, b, c);

            </textarea>
        </div>
        <div class="card">
            <h2>Comments</h2>
            <textarea>
    // This is a basic comment.

    ////... This is also a basic comment

    Basic comments only comment the line they are placed on from // to the end.


    /*
        This is a comment for an entire code sequence.
        This code is NOT executed.
    */
            </textarea>
        </div>
        <div class="card">
            <h2>Functions</h2>
            <textarea>
    Can be of all the types specified above
    (int,float,void,..)

    int Hello(int x,float y)
    {
        //code..
        retrun <value>
    }
    

    In this case:

      -int: Return type
      -Hello: Function name
      -int x and float y: parameters


    Void functions don't return any value! 
            </textarea>
        </div>
    </main>

    <footer>
        <%- include('./../partials/footer.ejs') %>
    </footer>
</body>
</html>