<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../partials/head.ejs') %>
    <link href="/css/languages/cpp.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include('./../partials/header.ejs') %>
    </header>

    <h1>CPP</h1>
    <main>
        <div class="card">
            <h2>Example</h2>
            <textarea readonly>
#include <iostream>
using namespace std;
int main()
{
    int n;
    cin>>n;
    cout<<"Input:"<<n;

    return 0;
}

/////////////////////////////

  OUTPUT:

    5         //Input
    Input:5   //Output
            </textarea>
        </div>
        <div class="card">
            <h2>Variables</h2>
            
        </div>
        <div class="card">
            <h2>Input</h2>
            <textarea>
                
            </textarea>
        </div>
        <div class="card">
            <h2>Output</h2>
            
        </div>
        <div class="card">
            <h2>Comments</h2>
            
        </div>
        <div class="card">
            <h2>Functions</h2>
            
        </div>
    </main>

    <footer>
        <%- include('./../partials/footer.ejs') %>
    </footer>
</body>
</html>