
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../partials/head.ejs') %>
    <link href="/css/languages/js.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include('./../partials/header.ejs') %>
    </header>

    <main>
        <h1>JS</h1>
    </main>

    <footer>
        <%- include('./../partials/footer.ejs') %>
    </footer>
</body>
</html>