<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head.ejs') %>
        <link href="/css/languages/languages.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <%- include('./../partials/header.ejs') %>
        </header>

        <div id="whichDiv">        
            <div id="which" onclick="window.location.href='/languages/help'">
                <h2>Which one to choose?</h2>
                <h4>Enter here</h4>
            </div>
        </div>

        <main>
            <a href="/languages/cpp">
                <div class="lessonCard">
                    <h2>CPP</h2>
                    <button>Open</button>
                </div>
            </a>

            <a href="/languages/c">
                <div class="lessonCard">
                    <h2>C</h2>
                    <button>Open</button>
                </div>
            </a>  

            <a href="/languages/cs">
                <div class="lessonCard">
                    <h2>CS</h2>
                    <button>Open</button>
                </div>
            </a>

            <a href="/languages/go">
                <div class="lessonCard">
                    <h2>GO</h2>
                    <button>Open</button>
                </div>
            </a>

            <a href="/languages/java">
                <div class="lessonCard">
                    <h2>JAVA</h2>
                    <button>Open</button>
                </div>
            </a>  

            <a href="/languages/python">
                <div class="lessonCard">
                    <h2>Python</h2>
                    <button>Open</button>
                </div>
            </a>  

            <a href="/languages/html">
                <div class="lessonCard">
                    <h2>Html</h2>
                    <button>Open</button>
                </div>
            </a>

            <a href="/languages/js">
                <div class="lessonCard">
                    <h2>JS</h2>
                    <button>Open</button>
                </div>
            </a> 

            <a href="/languages/css">
                <div class="lessonCard">
                    <h2>Css</h2>
                    <button>Open</button>
                </div>
            </a> 

            <a href="/languages/php">
                <div class="lessonCard">
                    <h2>Php</h2>
                    <button>Open</button>
                </div>
            </a> 

        </main>

        <footer>
            <%- include('./../partials/footer.ejs') %>
        </footer>
    </body>
</html>

