<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head.ejs') %>
        <link href="/css/routes/compiler.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <%- include('./../partials/header.ejs') %>
        </header>
        
        <main>
            <h1> COMPILER</h1><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                                    
        </main>

        <footer>
            <%- include('./../partials/footer.ejs') %>
        </footer>
    </body>
</html>