<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head.ejs') %>
        <link href="/css/routes/compiler.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <%- include('./../partials/header.ejs') %>
        </header>
        
        <main>
            <h1>C++ Online Compiler</h1>
                <div id="container">
                <textarea id="code" class="card">
#include <iostream> 
using namespace std;
int main()
{
    cout<<"Hello world!\n";
    return 0;
}
                </textarea>
                <textarea id="output" class="card" readonly>

                </textarea>

                <br>
            </div>
            <div id="controller">
                <button id="runBtn" onclick="runCode()">Run</button>   
            </div>                   
        </main>

        <script src="/js/routes/compiler.js"></script>
    </body>
</html>