<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../partials/head.ejs') %>
    <link href="/css/routes/home.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include('./../partials/header.ejs') %>
    </header>

    <main>

        <div id="image">
            <img src="/images/MNDCodeLogo.png" alt="MNDCode Logo">
        </div>

        <div class="startCard">
            <a href="/hard_lessons">
                <div class="startCardContent">
                    <div class="startCardContentTitle">Hard Lessons</div>
                    <div class="startCardContentDescription">
                        Explore interactive lessons specially designed to improve your programming skills.
                    </div>
                </div>
            </a>

            <div id="info">
        <div class="digitalClock" id="digitalClock">00:00:00</div>
        <div class="dateDisplay" id="dateDisplay">Încărcare...</div>

    </div>
            
            <a href="/compiler">
                <div class="startCardContent">
                    <div class="startCardContentTitle">Online Compiler</div>
                    <div class="startCardContentDescription">
                        Run and test your code directly in the browser, without the need for complicated settings.
                    </div>
                </div>
            </a>
        </div>

        <div class="container">
            <a href="/languages/cpp">C++</a>
            <a href="/languages/c">C</a>
            <a href="/languages/cs">CS</a>
            <a href="/languages/go">GO</a>
            <a href="/languages/java">JAVA</a>
            <a href="/languages/python">Python</a>
            <a href="/languages/html">Html</a>
            <a href="/languages/js">JS</a>
            <a href="/languages/css">CSS</a>
            <a href="/languages/php">PHP</a>
        </div>

        <div id="know">
            <h3>Did you know:</h2>
            <h4 id="knowText"></h4>
        </div>

    </main>

    <footer>
        <%- include('./../partials/footer.ejs') %>
    </footer>
    <script src="js/routes/home.js"></script>

</body>
</html>