<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head.ejs') %>
        <link href="/css/routes/soon.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <%- include('./../partials/header.ejs') %>
        </header>

        <main>
            <div>
                <h1>I am Coming Soon</h1>
                <h2>I'm a simple 17 year old kid working alone. What do you want from me? ))</h2>
                <button onclick="location.href='/'">Home</button>
            </div>
        </main>

        <footer>
            <%- include('./../partials/footer.ejs') %>
        </footer>
    </body>
</html>