
<div class="footerContainer">
    <div class="footerCopyright">© 2025 MNDCode. All rights reserved.</div>
    <div class="footerLinks">
        <a href="">Terms and Conditions</a>
        <a href="">Privacy policy</a>
        <a href="">Contact</a>
    </div>
    <div class="socialIcons">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook ico"></i></a>
        <a href="https://www.instagram.com/valymnd/"><i class="fa-brands fa-instagram ico"></i></a>
        <a href="https://github.com/ValyMnDul/MNDCode"><i class="fa-brands fa-github ico"></i></a>
    </div>
</div>
