
<div class="footer-container">
    <div>© 2025 AlgoGim. Toate drepturile rezervate.</div>
    <div class="footer-links">
        <a href="">Termeni și Condiții</a>
        <a href="">Politica de Confidențialitate</a>
        <a href="">Contact</a>
    </div>
    <div class="social-icons">
        <a href=""><i class="fa-brands fa-facebook ico"></i></a>
        <a href=""><i class="fa-brands fa-instagram ico"></i></a>
        <a href=""><i class="fa-brands fa-github ico"></i></a>
    </div>
</div>
