
<div class="footer-container">
    <div>© 2025 MNDCode. Toate drepturile rezervate.</div>
    <div class="footer-links">
        <a href="#">Termeni și Condiții</a>
        <a href="#">Politica de Confidențialitate</a>
        <a href="#">Contact</a>
    </div>
    <div class="social-icons">
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook"></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733558.png" alt="Twitter"></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" alt="Instagram"></a>
    </div>
</div>
