
<div class="footerContainer">
    <div class="footerCopyright">© 2025 MNDCode. All rights reserved.</div>
    <div class="footerLinks">
        <a href="/terms_and_conditions">Terms and Conditions</a>
        <a href="/privacy_policy">Privacy policy</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
    </div>
    <div class="socialIcons">
        <a href="https://steamcommunity.com/id/valymnd/"><i class="fa-brands fa-steam ico"></i></a>
        <a href="https://www.instagram.com/valymnd/"><i class="fa-brands fa-instagram ico"></i></a>
        <a href="https://github.com/ValyMnDul/MNDCode"><i class="fa-brands fa-github ico"></i></a>
    </div>
</div>
