<nav class="navbar">
    <div class="logoAndWeather">
        <a href="/">
            <img class="logo" src="/images/MNDCodeLogo.png" alt="AlgoGim Logo">
        </a>
        <i class="fa-solid fa-sun weatherIco"></i>
        <i class="fa-solid fa-language weatherIco" id="langBtn"></i>

        <%- include('./googleTranslate.ejs') %>
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/hard_lessons">Hard Lessons ▾</a>
            <div class="dropdownContent">
                <a href="/hard_lessons/1">Hard Lesson 1</a>
                <a href="/hard_lessons/2">Hard Lesson 2</a>
                <a href="/hard_lessons/3">Hard Lesson 3</a>
                <a href="/hard_lessons/4">Hard Lesson 4</a>
                <a href="/hard_lessons/5">Hard Lesson 5</a>
                <a href="/hard_lessons/6">Hard Lesson 6</a>
                <a href="/hard_lessons/7">Hard Lesson 7</a>
                <a href="/hard_lessons/8">Hard Lesson 8</a>
                <a href="/hard_lessons/9">Hard Lesson 9</a>
                <a href="/hard_lessons/10">Hard Lesson 10</a>
                <a href="/hard_lessons/11">Hard Lesson 11</a>
                <a href="/hard_lessons/12">Hard Lesson 12</a>
            </div>
        </li>
        <li>
            <a href="/compiler">Compiler</a>
        </li>
    </ul>
    <div class="account">
        <img src="/images/MNDCodeLogo.png" alt="Account">
        <a href="">Account</a>
    </div>
</nav>