<nav class="navbar">
    <a href="/"><img class="logo" src="/images/AlgoGimLogo.png" alt="AlgoGim Logo"></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="/lectii">Lecții ▾</a>
            <div class="dropdown-content">
                <a href="/lectii/1">Lecția 1</a>
                <a href="/lectii/2">Lecția 2</a>
                <a href="/lectii/3">Lecția 3</a>
            </div>
        </li>
        <li><a href="/compiler">Compiler</a></li>
    </ul>
    <div class="account">
        <img src="/images/ico.png" alt="Account">
        <a href="#">Contul Meu</a>
    </div>
</nav>