<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> <%= title %> </title>
<link href="/css/partials/header.css" rel="stylesheet">
<link href="/css/partials/footer.css" rel="stylesheet">
<link href="/css/all.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/31586b8f57.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/png" href="/images/MNDCodeLogo.png" style="border-radius: 50px;">