<nav class="navbar">
    <div class="logoAndWeather">
        <a href="/">
            <img class="logo" src="/images/MNDCodeLogo.png" alt="AlgoGim Logo">
        </a>
        <i class="fa-solid fa-sun weatherIco"></i>

        <%- include('./googleTranslate.ejs') %>
        
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/hard_lessons">Hard Lessons ▾</a>
            <div class="dropdownContent">
                <a href="/hard_lessons/1">Hard Lesson 1</a>
                <a href="/hard_lessons/2">Hard Lesson 2</a>
                <a href="/soon">Hard Lesson 3</a>
                <a href="/soon">Hard Lesson 4</a>
                <a href="/soon">Hard Lesson 5</a>
                <a href="/soon">Hard Lesson 6</a>
                <a href="/soon">Hard Lesson 7</a>
                <a href="/soon">Hard Lesson 8</a>
                <a href="/soon">Hard Lesson 9</a>
                <a href="/soon">Hard Lesson 10</a>
                <a href="/soon">Hard Lesson 11</a>
                <a href="/soon">Hard Lesson 12</a>
            </div>
        </li>
        <li>
            <a href="/compiler">Compiler</a>
        </li>
    </ul>
    <div class="account">
        <img src="/images/account.png" alt="Account">
        <a href="/soon">Account</a>
    </div>
</nav>