<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link href="/css/home.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include('./partials/header.ejs') %>
    </header>

    <main>

        <div id="image">
            <img src="/images/AlgoGimLogo.png">
        </div>

        <div class="main-container">
            <div class="main-title">Bun venit pe AlgoGim!</div>
            <div class="main-content">
                <a href="/lectii">
                    <div class="card">
                        <div class="card-title">Lectii Interactive</div>
                        <div class="card-description">
                            Explorează lecții interactive special create pentru a-ți îmbunătăți abilitățile de programare.
                        </div>
                    </div>
                </a>
                
                <a href="/compiler">
                    <div class="card">
                        <div class="card-title">Compiler Online</div>
                        <div class="card-description">
                            Rulează și testează codul tău direct în browser, fără să fie nevoie de setări complicate.
                        </div>
                    </div>
                </a>

                <a href="/aprofundare">
                    <div class="card">
                        <div class="card-title">Aprofundare</div>
                        <div class="card-description">
                            Verifică-ți cunoștințele fără să reiei lecțiile de la capăt.
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
    


</body>
</html>