<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/lectia_2.css">
    <style>

    </style>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>

    <main>
        <h1>Lecția 2</h1>
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>