<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include('./partials/header.ejs') %>
        </header>
        
        <main>
            <h1> LECTIA 3</h1><br>
            <h1 style="display: flex; justify-content: center;">Floare albastra</h1>
            <p style="font-size: 20px; margin-left: 100px;margin-right: 100px;">



                    Poezia "Floare albastră" de Mihai Eminescu a fost scrisă în anul 1872 și publicată in anul 1873 în revista "Convorbiri literare". 
                Este considerată capodopera lirismului eminescian,din etapa de tinerețe a creației marelui poet,din care fac parte si poeziile
                "De-aș avea","Lacul","Dorința" și "Sara pe deal".Este o poezie-nucleu ce cuprinde marile teme și motive literare,culminând cu "Luceafărul".
                <br><br>
                    
                    Din punct de vedere estetic,poezia se încadrează în curentul romantic datorită temelor și motivelor abordate:natura,iubirea,
                utilizarea antitezei ca procedeu de construcție:vis-realitate,feminin-masculin,cosmic-terestru,și amestecul speciilor literare:idilă,meditație,elegie.
                <br><br>
                    
                    O primă trăsătură a romantismului este preluarea unui motiv romantic de circulație universală.Floarea albastră devine laitmotivul textului
                eminescian,și desemnează aspirația către o iubire ideală. 
                <br><br>

                    A doua trăsatură a curentului literar este libertatea absoluta în alegera speciilor literare."Floare albastră" îmbină imaginea unei poezii de iubire cu 
                prezentarea naturii în comuniune cu ființa umană.În creația eminesciană,"Albastru" este culoarea infinitului,a idealului,iar "floarea"
                simbolizează iubirea,viața.
                <br><br>
                    
                    Tema poeziei o constituie aspirația poetului spre iubirea ideală ,spre perfectionarea ,care nu se poate îndeplini.Tema centrală se îmbina
                perfect cu natura,fiind în armonie cu sentimentele oamenilor.
                <br><br>

                    Una dintre cele mai importante imagini poetice este "floarea albastră".Aceasta este o metaforă romantică ce exprimă idealul de frumusețe și iubire
                absolută,dar și imposibilă.Floarea albastră devine reprezentarea iubirii ideale dintre poet și fată,iubirea fiind profundă, naturală,dar care nu poate
                fi trăită în realitate până la capăt."De nu m-ai uita în calte/Sufletul vieți mele!". 
                <br><br>
                    
                    O altă imagine poetica esențială poeziei "Flaore albastră" este antiteza dintre lumea ideală,abstractă,a eului liric și lumea concretă,vie,
                propusă de fată.Eul liric se înfățișează ca fiind absorbit de visuri abstracte,de un univers  intelectual și filozofic:"Iar te-ai cufundat în stele".
                În contrast ,fat îl cheamă înapoi spre viață,srpe iubire simplă cu adevărat,"Hai in codru cu verdeață".Fata reprezintă un simbol al iubirii pure,
                oferind o iubire sinceră,copilăreascăa,dar și pasională.Discursul fetei este simplu,direct în timp ce limbaul eului liric este complex și metaforic.
                Tocmai prin această diferență ,Eminescu subliniază cât de greu esta ca cele două universuri să se întâlnească,al visării și al vieții.
                <br><br>
                    
                    Primul element de construcție al poeziei este structura,fiind alcătuit din 14 catrene și organizat in patru secvențr lirice.Prima secvență lirică 
                are trei strofe și este un monolog al iubitei,prin care se arată antiteza dintre lumea superioară,specifică genului ,și coborârea in lumea terestră. 
                A doua secvență arată apropierea sufletească a celor doi îndrăgostiță,care este marcată prin prezența cuvântului "mititica".A treia secvență,alcătuită 
                din opt strofe care constituie o chemare la iubire prin retragerea în realitatea ideală,într-un cadru natural.A patra secvență este alcătuiră din 
                ultimele două strofe,constituind un monolog al omului superior despre iluzia fericirii.
                <br><br>
                    
                    Un alt element de construcție este titlul,care fixează simbolul central:asporația spre fericire prin iubire și imposibilitatea împlinirii cuplului,căci 
                cei doi îndrăgostiți fac parte din două lumi diferite.Titlul nu este doar o simplă metaforă,ci o cheie de lectură pentru întreaga poezie.El deschide drumul
                către o lume în care dragostea și idealul se împlinesc,dar rămân în final doar iluzii fragile,asemenea unei flori.                
                <br><br>

                    În concluzie,poezia "Floare albastră" de Mihai Eminescu asociază visul de iubire posibil de împlinit într-un cadru natural și meditația detașată a geniului 
                asupra existenței umane.Această poezie este și va rămâne o comoară a literaturii române.
                     

            </p>
        </main>

        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </body>
</html>