<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/lectia_3.css">
    </head>
    <body>
        <header>
            <%- include('./partials/header.ejs') %>
        </header>
        
        <main>
            <h1> LECTIA 3</h1><br>
            <p>This is <code>nodejs</code></p>
            <pre><code>
Here is some code!
            </code></pre> 
        </main>

        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </body>
</html>