
@font-face 
{
    font-family: "Oswald";
    src: url(/fonts/Oswald-VariableFont_wght.ttf);
}
@font-face 
{
    font-family: "idk";
    src: url(/fonts/idk.ttf);
}

html
{
  overflow-x: hidden;
}

body 
{
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code 
{
    font-family: 'Fira Code', 'Courier New', monospace;
    padding: 0.8px;
    border-radius: 2.5px;
    font-weight: 500;
}

pre
{
    background-color: rgb(199, 207, 235);
    padding: 10px 20px;
    border-radius: 15px;
    max-width: 100%;
    width: fit-content;
    overflow-x: auto;
    white-space: pre-wrap;  
    word-break: break-word; 
    box-sizing: border-box; 
}

pre code 
{
    background-color: inherit;
}
a
{
    text-decoration: none;
}
