* 
{
  box-sizing: border-box;
}

footer 
{
    background-color: #1864ab;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #90e0ef;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.ico 
{
    font-size: 25px;
    color: white;
}

.ico:hover
{
    color: rgb(224, 219, 219);
}


@media only screen and (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .social-icons {
        justify-content: center;
    }
}

