
main h1
{
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.teory
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:20px
}
#teoryCard
{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 60%;
    height:200px;
    background-color: #d0ebff;
    border: solid 3px #a5d8ff;
    border-radius: 20px;
    min-width: 600px;
}
.teoryMenu
{
    padding:10px;
    padding-left: 20px;
    min-width: 200px;
    height: 200px;
    background-color: #d0ebff;
    border: solid 3px #a5d8ff;
    border-radius: 20px;
    width: 20%;
}

.teoryMenu h2 
{
    display: flex;
    justify-content: center;
}

.teoryCard h2 
{
    font-size: 24px;
}

.teoryMenuButtons
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.teoryMenuButtons button
{
    width: 140px;
    height: 50px;
    color:white;
    border:solid 3px #228be6;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;  
    font-size: 16px;
}
#previousButton
{
    background-color: gray;
}

#nextButton
{
    background-color:#1864ab;
}

.container
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card
{
    display:grid;
    row-gap: 15px;
}

.card h2
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0b7285;
    margin: 0;
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.cardContent
{
    background-color:#d0ebff ;
    width: 850px;
    height: 600px;
    border: solid 3px #a5d8ff;
    border-radius: 20px;
}
.cardFooter
{
    background-color: #a5d8ff;
    border-radius: 20px ;
    height: 50px;
    display: flex;
    align-items: center;
}

.cardFooterLeft
{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    

}

.cardFooterRight
{
    position: relative;
}

.footerIco
{
    color: #1864ab;
    font-size: 30px;
    cursor: pointer;
}

#code
{
    border: none;
    outline: none;
    resize: none;
    width: 808px;
    height: 558px;
    border-radius: 20px;
    padding: 20px;
    background-color: transparent;
    font-size: 20px;
    font-family: monospace;
}

#runBtn
{
    position:absolute;
    top:-17px;
    left: 565px;
    width: 100px;
    height: 35px;
    background-color:#1864ab;
    color:white;
    border:solid 3px #228be6;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;    
}

#runBtn:hover
{
    width: 120px;
    left:555px;
}

#grid
{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    row-gap: 20px;
}

.cell
{
    width: 30px;
    display: flex;
    justify-content: center;
    border: solid 1.5px black;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.eliminated {
    background-color: #ffa8a8; /* roșu deschis */
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.prime {
    background-color: #40c057; /* verde */
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

