body
{
    background-image: url(/images/backgrounde.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

main h1
{
    display: flex;
    justify-content: center;
}

