body
{
    background-color: #f1f3f5;
}

main h1
{
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.intro
{
    display: flex;
    justify-content: center;
}

.introButtons
{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}
.introButtons a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    text-decoration: none;
    border: solid 3px #a5d8ff;
    border-radius: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.introButton1
{
    background-color: #74c0fc;
    color:black;
}

.introButton2
{
    background-color: white;
    color:#4eb2ff;
}

.introButtons a:hover
{
    background-color: #4eb2ff;
    color: white;
}

.container
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card
{
    display:grid;
    row-gap: 15px;
}

.card h2
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0b7285;
    margin: 0;
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.cardContent
{
    background-color:#d0ebff ;
    width: 850px;
    height: 600px;
    border: solid 3px #a5d8ff;
    border-radius: 20px;
}
.cardFooter
{
    background-color: #a5d8ff;
    border-radius: 20px ;
    height: 50px;
    display: flex;
    align-items: center;
}

.cardFooterLeft
{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    

}

.cardFooterRight
{
    position: relative;
}

.footerIco
{
    color: #1864ab;
    font-size: 30px;
    cursor: pointer;
}

#code
{
    border: none;
    outline: none;
    resize: none;
    width: 808px;
    height: 558px;
    border-radius: 20px;
    padding: 20px;
    background-color: transparent;
    font-size: 20px;
    font-family: monospace;
}

#runBtn
{
    position:absolute;
    top:-17px;
    left: 565px;
    width: 100px;
    height: 35px;
    background-color:#1864ab;
    color:white;
    border:solid 3px #228be6;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;    
}

#runBtn:hover
{
    width: 120px;
    left:555px;
}

