<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/footer/about.css">
</head>
<body>
    <header>
        <%- include('./../partials/header.ejs') %>
    </header>

    <main>
        <h1>About</h1>

        <h2>Who am I?</h2>
        <h3>I am a boy passionate about <code>programming</code> who is trying to stand out with his projects. I was born in <code>2008</code> and I have had this passion since I was 13, when I got my first laptop.<br>The site is in <code>continuous development</code>. I am from Romania BTW).</h3>

        <h2>MNDCode</h2>
        <h3><code>MNDCode</code> is an interactive website that helps people learn <code>programming</code>. It has an <code>easy-to-understand GUI</code> and a pretty welcoming design in my opinion. It comes with an <code>online compiler</code> that runs your code on the server, not on your systems.<br><code>MNDCode</code> is a website made in 100 hours for <code>Neighborhood</code>, organized by <code>Hack Club</code>.</h3>

        <h2>Technologies Used</h2>
        <ul>
            <li><code>HTML</code>, <code>CSS</code>, <code>JavaScript</code></li>
            <li><code>Node.js</code> and <code>Express</code> (backend)</li>
            <li><code>Docker</code> (for containerization)</li>
        </ul>

        <h2>Hack Club</h2>
        <h3><code>Hack Club</code> is a nonprofit organization whose mission is to foster a wholesome generation of coders, makers, founders, and builders.<br><code>Hack Club</code> is a network of hundreds of student-led computer science clubs and a safe, positive online community of over <code>50,000</code> high school makers from around the world. Hack Club programs are free and accessible to all students. We support <code>teenagers</code> in making real projects in the real world. Hack Club is supported by notable figures in the tech industry, including <code>GitHub founder Tom Preston-Werner, Dell Founder Michael Dell and executives at Apple, Facebook, Microsoft, and GitHub</code> ,as well as many up-and-coming tech startups.</h3>

        <h2>Neighborhood</h2>
        <h3><code>Neighborhood</code> is a 3-month housing program organized by Hack Clubbers, for Hack Clubbers. <code>Participants</code> will be invited to stay in <code>San Francisco Neighborhood</code> as long as they work on creating an awesome app for at least 40 hours a week, for a minimum of 2 weeks, up to 3 months.</h3>

        <h2>My Mission</h2>
        <h3>MNDCode aims to make <code>programming education</code> accessible and enjoyable for anyone, regardless of age or background. <code>My vision</code> is to empower the next generation of developers through hands-on practice and real-world <code>learning experiences</code>.</h3>
        
        <br>
        <br>
    </main>

    <footer>
        <%- include('./../partials/footer.ejs') %>
    </footer>
</body>
</html>