<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/footer/contact.css">
</head>
<body>
    <header>
        <%- include('./../partials/header.ejs') %>
    </header>

    <main>
        <h1>Contact</h1>

        <div id="container">
            <div class="card" onclick="location.href='https://github.com/ValyMnDul'">
                <i class="fa-brands fa-github"></i>
                <div>
                    <h2>GitHub</h2>
                    <p>ValyMnDul</p>
                </div>
            </div>

            <div class="card" onclick="location.href='https://www.instagram.com/valymnd/'">
                <i class="fa-brands fa-instagram"></i>
                <div>
                    <h2>Instagram</h2>
                    <p>@valymnd</p>
                </div>
            </div>

            <div class="card" onclick="location.href='https://linkedin.com/in/mîndrilă-vasile-49a989321'">
                <i class="fa-brands fa-linkedin"></i>
                <div>
                    <h2>Linkedin</h2>
                    <p>Mîndrilă Vasile</p>
                </div>
            </div>

            <div class="card" onclick="location.href='https://steamcommunity.com/id/valymnd/'">
                <i class="fa-brands fa-steam"></i>
                <div>
                    <h2>Steam</h2>
                    <p>|-_-ValyMnD-_-|</p>
                </div>
            </div>

            <div class="card" onclick="window.open('https://discord.com/channels/@me')">
                <i class="fa-brands fa-discord"></i>
                <div>
                    <h2>Discord</h2>
                    <p>@valymnd</p>
                </div>
            </div>

            <div class="card" onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=mindrilavasilevalentin@gmail.com&su=MNDCode&body=What do you want to tell me?', '_blank')">
                <i class="fa-solid fa-envelope"></i>
                <div>
                    <h2>Email</h2>
                    <p>mindrila<br>vasilevalentin<br>@gmail.com</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('./../partials/footer.ejs') %>
    </footer>
</body>
</html>