<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/hard_lessons/hard_lessons__3.css" />
  </head>
  <body>
    <header><%- include('./../partials/header.ejs') %></header>

    <main>
      
    </main>

    <footer><%- include('./../partials/footer.ejs') %></footer>
    <script src="/js/hard_lessons/hard_lessons__2.js"></script>
  </body>
</html>
