<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head.ejs') %>
        <link href="/css/hard_lessons/hard_lessons.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <%- include('./../partials/header.ejs') %>
        </header>

        <main>
        <a href="/hard_lessons/1" title="Lecția 1: Ciurul lui Eratostene">
            <div class="lessonCard">
                <h2>Lesson 1</h2>
                <p>The Sieve of Eratosthenes</p>
                <button>Open</button>
            </div>
        </a>

        <a href="/hard_lessons/2" title="Lecția 2: Căutarea liniară și binară">
            <div class="lessonCard">
                <h2>Lesson 2</h2>
                <p>Linear and binary search</p>
                <button>Open</button>
            </div>
        </a>  

        <a href="/soon" title="Lesson 3 description">
            <div class="lessonCard">
                <h2>Lesson 3</h2>
                <p>Lesson 3 description</p>
                <button>Open</button>
            </div>
        </a>

        <a href="/soon">
            <div class="lessonCard" title="Lesson 4 description">
                <h2>Lesson 4</h2>
                <p>Lesson 4 description</p>
                <button>Open</button>
            </div>
        </a>

        <a href="/soon">
            <div class="lessonCard" title="Lesson 5 description">
                <h2>Lesson 5</h2>
                <p>Lesson 5 description</p>
                <button>Open</button>
            </div>
        </a>  

        <a href="/soon">
            <div class="lessonCard" title="Lesson 6 description">
                <h2>Lesson 6</h2>
                <p>Lesson 6 description</p>
                <button>Open</button>
            </div>
        </a>
        
        <a href="/soon">
            <div class="lessonCard" title="Lesson 7 description">
                <h2>Lesson 7</h2>
                <p>Lesson 7 description</p>
                <button>Open</button>
            </div>
        </a>

        <a href="/soon">
            <div class="lessonCard" title="Lesson 8 description">
                <h2>Lesson 8</h2>
                <p>Lesson 8 description</p>
                <button>Open</button>
            </div>
        </a>  

        <a href="/soon">
            <div class="lessonCard" title="Lesson 9 description">
                <h2>Lesson 9</h2>
                <p>Lesson 9 description</p>
                <button>Open</button>
            </div>
        </a>

        <a href="/soon">
            <div class="lessonCard" title="Lesson 10 description">
                <h2>Lesson 10</h2>
                <p>Lesson 10 description</p>
                <button>Open</button>
            </div>
        </a>

        <a href="/soon">
            <div class="lessonCard" title="Lesson 11 description">
                <h2>Lesson 11</h2>
                <p>Lesson 11 description</p>
                <button>Open</button>
            </div>
        </a>  

        <a href="/soon">
            <div class="lessonCard" title="Lesson 12 description">
                <h2>Lesson 12</h2>
                <p>Lesson 12 description</p>
                <button>Open</button>
            </div>
        </a>

        </main>

        <footer>
            <%- include('./../partials/footer.ejs') %>
        </footer>
    </body>
</html>