<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/hard_lessons/hard_lessons__1.css">
    <style>

    </style>
</head>
<body>
    <header>
        <%- include('./../partials/header.ejs') %>
    </header>

    <main>
        <h1> The Sieve of Eratosthenes</h1>
        <div class="teory">
            <div class="teoryMenu">
                <h2 id="teoryTitle">Card 1</h2>
                <h2 id="teorySubtitle">The Beginning</h2>
                <div class="teoryMenuButtons">
                    <button onclick="previousTeory()" id="previousButton">Previous</button>
                    <button onclick="nextTeory()" id="nextButton">Next</button>
                </div>
            </div>
            <div id="teoryCard">
                <h2 id="teoryText">It is used to determine all <code>prime</code> numbers less than or equal to <code>N</code>. By definition, a number <code>x</code> is <code>prime</code> if and only if it has exactly two divisors. The number 2 is the first prime number and is the <code>only</code> even prime number.</h2>
            </div>
        </div>

        <div id="cardsTitle">
            <h3>Try for N=</h3>
            <input id="NInput" type="number" max="100" min="0" placeholder="N:2-150" value="150">
        </div>

        <div class="container">
            <div class="card">
                <h2 id="codeh2">Code</h2>
                <div class="cardContent" id="codeContent">
                    <textarea id="code" spellcheck="false" readonly>
        The code will appear here as you progress.
                    </textarea>
                </div>
                <div class="cardFooter">
                    <div class="cardFooterLeft">
                        <a><i class="fa-solid fa-expand footerIco expandIco" onclick="codeFullscreen()"></i></a>
                        <div class="ico-container">
                            <i class="fa-solid fa-circle-info footerIco"></i>
                            <div class="details-box">
                                This card features the Sieve of Eratosthenes (C++), optimized based on the progress made.
                            </div>
                        </div>
                    </div>
                    <div class="cardFooterRight">

                    </div>
                </div>
            </div>


            <div class="card">
                <h2>Graphical view</h2>
                <div class="cardContent" id="grafContent">
                    <div class="stepsContainer" id="stepsContainer">
                        
                    </div>
                </div>
                <div class="cardFooter">
                    <div class="cardFooterLeft">
                        <a><i class="fa-solid fa-expand footerIco expandIco" onclick="grafFullscreen()"></i></a>
                        <div class="ico-container">
                            <i class="fa-solid fa-circle-info footerIco"></i>
                            <div class="details-box">
                                This card shows how the Sieve of Eratosthenes processes each prime number by removing its multiples, starting from 2.
                            </div>
                        </div>
                    </div>
                    <div class="cardFooterRight" id="GraficRight">
                            <button id="btnPrev" class="GraficBtn" onclick="prevStep()" disabled>Precedent</button>
                            <button id="btnNext" class="GraficBtn" onclick="nextStep()">Următorul</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <h2>Viewing prime numbers</h2>
                <div class="cardContent" id="animContent">
                    <div id="grid">
                        
                    </div>
                </div>
                <div class="cardFooter">
                    <div class="cardFooterLeft">
                        <a><i class="fa-solid fa-expand footerIco expandIco" onclick="animFullscreen()"></i></a>
                        <div class="ico-container">
                            <i class="fa-solid fa-circle-info footerIco"></i>
                            <div class="details-box">
                                This card shows the final output of the Sieve of Eratosthenes.
                            </div>
                        </div>
                    </div>
                    <div class="cardFooterRight">
                        <button id="runBtn" onclick="RunButtonPressed()">Run</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('./../partials/footer.ejs') %>
    </footer>

    <script src="/js/hard_lessons/hard_lessons__1.js"></script>
</body>
</html>