<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include('./../partials/header.ejs') %>
            <link href="/css/hard_lessons/hard_lessons.css" rel="stylesheet">
        </header>

        <main>
        <a href="/hard_lessons/1" title="Lecția 1: Ciurul lui Eratostene">
            <div class="lessonCard">
                <h2>Lecția 1</h2>
                <p>Ciurul lui Eratostene</p>
                <button>Deschide</button>
            </div>
        </a>

        <a href="/hard_lessons/2" title="Lecția 2: Căutarea liniară și binară">
            <div class="lessonCard">
                <h2>Lecția 2</h2>
                <p>Căutarea liniară și binară</p>
                <button>Deschide</button>
            </div>
        </a>  

        <a href="/hard_lessons/3">
            <div class="lessonCard">
                <h2>Lecția 3</h2>
                <p>Descriere lecția 3</p>
                <button>Deschide</button>
            </div>
        </a>

        <a>
            <div class="lessonCard">
                <h2>Lecția 4</h2>
                <p>Descriere lecția 4</p>
                <button>Deschide</button>
            </div>
        </a>

        <a>
            <div class="lessonCard">
                <h2>Lecția 5</h2>
                <p>Descriere lecția 5</p>
                <button>Deschide</button>
            </div>
        </a>  

        <a>
            <div class="lessonCard">
                <h2>Lecția 6</h2>
                <p>Descriere lecția 6</p>
                <button>Deschide</button>
            </div>
        </a>
        
        <a>
            <div class="lessonCard">
                <h2>Lecția 7</h2>
                <p>Descriere lecția 7</p>
                <button>Deschide</button>
            </div>
        </a>

        <a>
            <div class="lessonCard">
                <h2>Lecția 8</h2>
                <p>Descriere lecția 8</p>
                <button>Deschide</button>
            </div>
        </a>  

        <a>
            <div class="lessonCard">
                <h2>Lecția 9</h2>
                <p>Descriere lecția 9</p>
                <button>Deschide</button>
            </div>
        </a>

        <a>
            <div class="lessonCard">
                <h2>Lecția 10</h2>
                <p>Descriere lecția 10</p>
                <button>Deschide</button>
            </div>
        </a>

        <a>
            <div class="lessonCard">
                <h2>Lecția 11</h2>
                <p>Descriere lecția 11</p>
                <button>Deschide</button>
            </div>
        </a>  

        <a>
            <div class="lessonCard">
                <h2>Lecția 12</h2>
                <p>Descriere lecția 12</p>
                <button>Deschide</button>
            </div>
        </a>

        </main>

        <footer>
            <%- include('./../partials/footer.ejs') %>
        </footer>
    </body>
</html>