<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/hard_lessons/hard_lessons__3.css" />
  </head>
  <body>
    <header><%- include('./../partials/header.ejs') %></header>

    <main>
      <nav>
        <div class="element">Home</div>
        <div id="dropdown">CACA
          <div id="dropdownExtend">
            <a href="">caca1</a>
            <a href="">caca2</a>
            <a href="">caca3</a>
            <a href="">caca4</a>
          </div>
        </div>
        <div class="element">About</div>
        
        <div class="element">Accouts</div>
      </nav>
      <br><br><br><br><br><br><br>
    </main>

    <footer><%- include('./../partials/footer.ejs') %></footer>
    <script src="/js/hard_lessons/hard_lessons__2.js"></script>
  </body>
</html>
