
footer
{
    margin-top: 70px;
}

code
{
    background-color: rgb(221, 238, 252);
}

main
{
    margin: 0 100px;
}

h1
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin:30px;
}

h2
{
    font-family: 'Courier New', Courier, monospace;
}

h3
{
    font-weight: 400;
    margin-left: 10px;
}

ul
{
    font-size: 1.2em;
}