body 
{
    background: radial-gradient(
        circle at 20% 20%,
        hsl(209, 100%, 57%),
        hsl(211, 100%, 60%),
        hsl(211, 100%, 65%),
        hsl(212, 100%, 55%),
        hsl(211, 100%, 70%),
        hsl(210, 100%, 76%),
        hsl(209, 100%, 63%)
    );
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: moveGradient 40s infinite ease-in-out;
}

@keyframes moveGradient {
    0% 
    {
        background-position: 0% 0%;
    }
    5% 
    {
        background-position: 50% 0%;
    }
    10% 
    {
        background-position: 100% 0%;
    }
    15% 
    {
        background-position: 100% 50%;
    }
    20% 
    {
        background-position: 50% 100%;
    }
    25% 
    {
        background-position: 100% 0%;
    }
    30% 
    {
        background-position: 0% 50%;
    }
    35% 
    {
        background-position: 0% 100%;
    }
    40% 
    {
        background-position: 0% 0%;
    }
    45% 
    {
        background-position: 50% 0%;
    }
    50% 
    {
        background-position: 100% 100%;
    }
    55% 
    {
        background-position: 100% 50%;
    }
    60% 
    {
        background-position: 50% 100%;
    }
    65% 
    {
        background-position: 100% 0%;
    }
    70% 
    {
        background-position: 0% 50%;
    }
    75% 
    {
        background-position: 0% 100%;
    }
    80% 
    {
        background-position: 0% 0%;
    }
    85% 
    {
        background-position: 50% 0%;
    }
    90% 
    {
        background-position: 100% 0%;
    }
    95% 
    {
        background-position: 100% 50%;
    }
    100% 
    {
        background-position: 0% 0%;
    }
}

main
{
    user-select: none;
    margin: 0 80px;
    margin-bottom: 30px;
}

h1
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin:30px;
}

#container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border:solid 3px black;
    height: auto;
    padding: 40px 5px;
    border-radius: 20px;
    flex-wrap: wrap;
    row-gap: 40px;
}

.card
{
    margin:0 20px;
    width: 360px;
    height: 160px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}

.card:hover
{
    transform: translateY(-5px);
}

.card > i
{
    font-size: 4.5em;
}

.card > div > h2
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

.card > div > p
{
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width:500px) 
{
    main
    {
        margin:5px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:370px) 
{
    main
    {
        margin:5px;
        margin-bottom: 30px;
    }

    .card > div > h2
    {
        font-size: 1.2em;
    }

    .card > div > p
    {
        font-size: 0.9em;
    }

    .card > i
    {
        margin-right: 10px;
    }
}

@media screen and (max-width:290px) 
{
    .card > div > h2
    {
        font-size: 1em;
    }

    .card > div > p
    {
        font-size: 0.8em;
    }

    .card > i
    {
        font-size: 3em;
    }
}

